<p>pipes works!</p>

lowercase
<h2>{{name | lowercase}}</h2>
uppercase
<h2>{{name | uppercase}}</h2>
titlecase
<h2>{{name | titlecase}}</h2>
slice:2
<h2>{{name | slice:2}}</h2>
slice:3:5
<h2>{{name | slice:3:5}}</h2>
json
<h2>{{person | json}}</h2>
without json
<h2>{{person}}</h2>

<h2>{{5.678 | number: '1.2-3'}}</h2>
<h2>{{5.678 | number: '3.4-5'}}</h2>
<h2>{{5.678 | number: '3.1-2'}}</h2>

<h2>{{ 0.25 | percent}}</h2>

<h2>{{0.25 | currency}}</h2>
<h2>{{0.25 | currency: 'GBP'}}</h2>
<h2>{{0.25 | currency: 'GBP': 'code'}}</h2>
<h2>{{0.25 | currency: 'EUR': 'code'}}</h2>


<h2>{{date}}</h2>
short
<h2>{{date | date: 'short'}}</h2>
shortDate
<h2>{{date | date: 'shortDate'}}</h2>
shortTime
<h2>{{date | date: 'shortTime'}}</h2>
