<div style="text-align: center;">
  <!-- <app-interpolation></app-interpolation>
  <app-property-binding></app-property-binding>
  <app-binding-classes></app-binding-classes> -->
  <!-- <app-event-binding></app-event-binding> -->
  <!-- <app-template-reference></app-template-reference> -->
  <!-- <app-two-way-binding></app-two-way-binding> -->
  <!-- <app-structural-derective></app-structural-derective> -->
  <!-- <app-ng-switch></app-ng-switch> -->
  <!-- <app-ng-for></app-ng-for> -->

  <!-- <h2>Input-Output</h2>
  <app-input-output (childEvent)="message=$event" [parentData]="name"></app-input-output>
  <h2>{{message}}</h2> -->

  <!-- <app-pipes></app-pipes> -->

  <!-- <h2>Service, Dependency Injection</h2>
  <app-employee-list></app-employee-list>
  <app-employee-detail></app-employee-detail> -->
<!--
  <h2>Http and Observables</h2>
  <app-employee-list></app-employee-list>
  <app-employee-detail></app-employee-detail> -->

  <!-- <h2>Routing and Navigation, WildCard Routing</h2>

  <button routerLink="/departments" routerLinkActive="active">Department</button>
  <button routerLink="/employees" routerLinkActive="active">Employees</button> -->

  <h2>Route Parameters</h2>
</div>

<router-outlet></router-outlet>
